$background-color-0: #080808;
$background-color-1: #1A1A1A;
$background-color-2: #2F2F2F;
$background-color-3: #464646;
$background-color-4: #565656;
$background-gradient: linear-gradient(-180deg, #404142 0%, #303030 90%);
$background-gradient-hover: linear-gradient(-180deg, #3e3f40 0%, #2e2e2e 90%);
$border-middle: #444444;
$border-dark: #2E2E2E;
$border-light: #BFBFBF;

$primary: #212121;
$secondary: #CDCDCD;
$thirdly: #303030;

$color: #CCC;
$link: #00A4F3;
$link-light: #FFF;
$link-dark: #717171;
$link-hover: #0078d7;
